<!doctype html>
<head>
    <title>Hello Azure - Python Quickstart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
    <body>
        <main>
           <div class="px-4 py-3 my-2 text-center">
            <h1>Your Response</h1>
            <p>{{reply}}</p>
           </div>
            <form action="/sendreply" method="POST">
                <input type="hidden" name="idx" value="{{idx}}"></input>
                <input type="hidden" name="textrepl" value="{{reply}}"></input>
                <button type="submit">Reply in Outlook</button>
            </form>
        </main>
    </body>
</html>